

/* Jumbotron images in circle*/

.jumbotron {
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
}

.circle-container {
  position: relative;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  border: pink solid 1px;
}

.item img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.item {
  display: block;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5rem;
}


.deg0 {
  transform: translate(15rem);
} /* 15rem = half the width of the wrapper */
.deg45 {
  transform: rotate(45deg) translate(15rem) rotate(-45deg);
}
.deg90 {
  transform: rotate(90deg) translate(15rem) rotate(-90deg);
}
.deg135 {
  transform: rotate(135deg) translate(15rem) rotate(-135deg);
}
.deg180 {
  transform: translate(-15rem);
}
.deg225 {
  transform: rotate(225deg) translate(15rem) rotate(-225deg);
}
.deg270 {
  transform: rotate(270deg) translate(15rem) rotate(-270deg);
}
.deg315 {
  transform: rotate(315deg) translate(15rem) rotate(-315deg);
}
