/* Universal */

html {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

}

/* Side nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    height: 900px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Video */


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

.content {
    position: relative;
    top: 50px;
    width: 100%;
}

#myBtn {
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 2rem;
    background-color: darkGrey;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  border: purple solid 2px;
  padding: 2rem;
}


.animate-logo {
  display: flex;
  align-items: center;
}

.animate-logo img {
  width: 100px;
}

.animate-logo span {
  font-family: 'Creepster', cursive;
  font-size: 2rem;
  padding-left: 0.7rem;
}

/* Jumbotron */

.jumbobron {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.jumbobron img {
  margin: 1rem;

}
